<h2><%= title t(:complience, scope: 'activerecord.models').pluralize %></h2>

<% content_for :actions do -%>
  <%= link_to t(:add_model, model: t(:complience, scope: 'activerecord.models')), new_complience_path, class: "btn btn-success" %>
<% end -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :id, t(:id, scope: "activerecord.attributes") %></th>
      <th><%= sort_link @search, :rule_name, t(:rule_name, scope: "activerecord.attributes.complience") %></th>
      <th><%= sort_link @search, :weight, t(:weight, scope: "activerecord.attributes.complience") %></th>
      <th><%= sort_link @search, :deadline, t(:deadline, scope: "activerecord.attributes.complience") %></th>
      <th><%= sort_link @search, :required_by_law, t(:required_by_law, scope: "activerecord.attributes.complience") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @compliences.each do |complience| %>
      <tr>
        <td><%= complience.id %></td>
        <td><%= complience.rule_name %></td>
        <td><%= complience.weight %></td>
        <td><%= complience.deadline %></td>
        <td><%= complience.required_by_law %></td>
        <td>
          <%= link_to complience, title: t(:visualize) do %>
            <i class="fa fa-eye btn btn-default"></i>
          <% end -%>
        </td>
        <td>
          <%= link_to edit_complience_path(complience), title: t(:edit) do %>
            <i class="fa fa-edit btn btn-default"></i>
          <% end -%>
        </td>
        <td>
          <%= link_to complience, method: :delete, data: { confirm: t(:are_you_sure) }, title: t(:delete) do %>
            <i class="fa fa-trash-o btn btn-danger"></i>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @compliences %>
