<%= title t(:complience, scope: 'activerecord.models').pluralize %>

<% content_for :actions do -%>
	<%= link_to t(:edit), edit_complience_path(@complience), class: "btn btn-success" %>
	<%= link_to t(:back), compliences_path, class: "btn btn-success" %>
<% end -%>

<p>
  <small><%= t(:rule_name, scope: "activerecord.attributes.complience") %>:</small>
  <h3><%= @complience.rule_name %></h3>
</p>
<p>
  <small><%= t(:weight, scope: "activerecord.attributes.complience") %>:</small>
  <h3><%= @complience.weight %></h3>
</p>
<p>
  <small><%= t(:deadline, scope: "activerecord.attributes.complience") %>:</small>
  <h3><%= @complience.deadline %></h3>
</p>
<p>
  <small><%= t(:required_by_law, scope: "activerecord.attributes.complience") %>:</small>
  <h3><%= @complience.required_by_law %></h3>
</p>
