<h2><%= title t(:owner, scope: 'activerecord.models').pluralize %></h2>

<% content_for :actions do -%>
  <%= link_to t(:add_model, model: t(:owner, scope: 'activerecord.models')), new_owner_path, class: "btn btn-success" %>
<% end -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :id, t(:id, scope: "activerecord.attributes") %></th>
      <th><%= sort_link @search, :name, t(:name, scope: "activerecord.attributes.owner") %></th>
      <th><%= sort_link @search, :email, t(:email, scope: "activerecord.attributes.owner") %></th>
      <th><%= sort_link @search, :app_counter, t(:app, scope: "activerecord.models").pluralize %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.id %></td>
        <td><%= owner.name %></td>
        <td><%= owner.email %></td>
        <td><%= owner.app_counter %></td>
        <td>
          <%= link_to owner, title: t(:visualize) do %>
            <i class="fa fa-eye btn btn-default"></i>
          <% end -%>
        </td>
        <td>
          <%= link_to edit_owner_path(owner), title: t(:edit) do %>
            <i class="fa fa-edit btn btn-default"></i>
          <% end -%>
        </td>
        <td>
          <%= link_to owner, method: :delete, data: { confirm: t(:are_you_sure) }, title: t(:delete) do %>
            <i class="fa fa-trash-o btn btn-danger"></i>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @owners %>
