<%= title t(:owner, scope: 'activerecord.models').pluralize %>

<% content_for :actions do -%>
	<%= link_to t(:edit), edit_owner_path(@owner), class: "btn btn-success" %>
	<%= link_to t(:back), owners_path, class: "btn btn-success" %>
<% end -%>

<p>
  <small><%= t(:name, scope: "activerecord.attributes.owner") %>:</small>
  <h3><%= @owner.name %></h3>
</p>
<p>
  <small><%= t(:email, scope: "activerecord.attributes.owner") %>:</small>
  <h3><%= @owner.email %></h3>
</p>
