<%= simple_form_for(@cloud_resource) do |f| %>
  <%= f.error_notification %>

    <%= f.input :identifier %>
    <%= f.input :service %>
    <%= f.input :name %>
    <%= f.input :service_type %>
    <%= f.input :region %>
    <%= f.input :correct_app_tag %>
    <%= f.input :app_env %>
    <%= f.association :cloud_stack %>
  <hr class="my-4">
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
