<h2><%= title t(:cloud_resource, scope: 'activerecord.models').pluralize %></h2>

<% content_for :actions do -%>
<% end -%>

<%= search_form_for @search, builder: SimpleForm::FormBuilder do |f| %>
  <div class="row">
    <div class="col-10">
      <%= f.input :resource_name_cont, label: false, placeholder: 'Buscar' %>
    </div>
    <div class="col-2">
      <%= f.input :tag_compliant_eq, label: false, collection: [true, false], include_blank: 'APP TAG Compliant' %>
    </div>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :id, t(:id, scope: "activerecord.attributes") %></th>
      <th><%= sort_link @search, :resource_name, t(:resource_name, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :resource_id, t(:resource_id, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :resource_type, t(:resource_type, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :resource_creation_time, t(:resource_creation_time, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :cloud_provider, t(:cloud_provider, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :cloud_provider_id, t(:cloud_provider_id, scope: "activerecord.attributes.cloud_resource") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @cloud_resources.each do |cloud_resource| %>
      <tr>
        <td><%= cloud_resource.id %></td>
        <td><%= cloud_resource.resource_name %></td>
        <td><%= cloud_resource.resource_id %></td>
        <td><%= cloud_resource.resource_type %></td>
        <td><%= cloud_resource.resource_creation_time %></td>
        <td><%= cloud_resource.cloud_provider %></td>
        <td><%= cloud_resource.cloud_provider_id %></td>
        <td>
          <%= link_to cloud_resource, title: t(:visualize) do %>
            <i class="fa fa-eye btn btn-default"></i>
          <% end -%>
        </td>
        <td>
          <%= link_to edit_cloud_resource_path(cloud_resource), title: t(:edit) do %>
            <i class="fa fa-edit btn btn-default"></i>
          <% end -%>
        </td>
        <td>
          <%= link_to cloud_resource, method: :delete, data: { confirm: t(:are_you_sure) }, title: t(:delete) do %>
            <i class="fa fa-trash-o btn btn-danger"></i>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @cloud_resources, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
