<h2><%= title t(:cloud_resource, scope: 'activerecord.models').pluralize %></h2>

<% content_for :actions do -%>
  <%= link_to t(:add_model, model: t(:cloud_resource, scope: 'activerecord.models')), new_cloud_resource_path, class: "btn btn-success" %>
<% end -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :id, t(:id, scope: "activerecord.attributes") %></th>
      <th><%= sort_link @search, :identifier, t(:identifier, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :service, t(:service, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :name, t(:name, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :service_type, t(:service_type, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :region, t(:region, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :correct_app_tag, t(:correct_app_tag, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :app_env, t(:app_env, scope: "activerecord.attributes.cloud_resource") %></th>
      <th><%= sort_link @search, :cloud_stack, t(:cloud_stack, scope: "activerecord.attributes.cloud_resource") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @cloud_resources.each do |cloud_resource| %>
      <tr>
        <td><%= cloud_resource.id %></td>
        <td><%= cloud_resource.identifier %></td>
        <td><%= cloud_resource.service %></td>
        <td><%= cloud_resource.name %></td>
        <td><%= cloud_resource.service_type %></td>
        <td><%= cloud_resource.region %></td>
        <td><%= cloud_resource.correct_app_tag %></td>
        <td><%= cloud_resource.app_env %></td>
        <td><%= cloud_resource.cloud_stack %></td>
        <td>
          <%= link_to cloud_resource, title: t(:visualize) do %>
            <i class="fa fa-eye btn btn-default"></i>
          <% end -%>
        </td>
        <td>
          <%= link_to edit_cloud_resource_path(cloud_resource), title: t(:edit) do %>
            <i class="fa fa-edit btn btn-default"></i>
          <% end -%>
        </td>
        <td>
          <%= link_to cloud_resource, method: :delete, data: { confirm: t(:are_you_sure) }, title: t(:delete) do %>
            <i class="fa fa-trash-o btn btn-danger"></i>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @cloud_resources %>
