<%= title t(:cloud_resource, scope: 'activerecord.models').pluralize %>

<% content_for :actions do -%>
	<%= link_to t(:edit), edit_cloud_resource_path(@cloud_resource), class: "btn btn-success" %>
	<%= link_to t(:back), cloud_resources_path, class: "btn btn-success" %>
<% end -%>

<p>
  <small><%= t(:resource_name, scope: "activerecord.attributes.cloud_resource") %>:</small>
  <h3><%= @cloud_resource.resource_name %></h3>
</p>
<p>
  <small><%= t(:resource_id, scope: "activerecord.attributes.cloud_resource") %>:</small>
  <h3><%= @cloud_resource.resource_id %></h3>
</p>
<p>
  <small><%= t(:resource_type, scope: "activerecord.attributes.cloud_resource") %>:</small>
  <h3><%= @cloud_resource.resource_type %></h3>
</p>
<p>
  <small><%= t(:resource_creation_time, scope: "activerecord.attributes.cloud_resource") %>:</small>
  <h3><%= @cloud_resource.resource_creation_time %></h3>
</p>
<p>
  <small><%= t(:cloud_provider, scope: "activerecord.attributes.cloud_resource") %>:</small>
  <h3><%= @cloud_resource.cloud_provider %></h3>
</p>
<p>
  <small><%= t(:cloud_provider_id, scope: "activerecord.attributes.cloud_resource") %>:</small>
  <h3><%= @cloud_resource.cloud_provider_id %></h3>
</p>
<p>
  <small><%= t(:aws_arn, scope: "activerecord.attributes.cloud_resource") %>:</small>
  <h3><%= @cloud_resource.aws_arn %></h3>
</p>
<p>
  <small><%= t(:relationships, scope: "activerecord.attributes.cloud_resource") %>:</small>
  <h3><%= @cloud_resource.relationships %></h3>
</p>
